html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: black;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*! Content */
.content {
  position: inherit;
  flex: 1;
}
.top-section__photo-container {
  position: inherit;
  height: 100%;
  padding: 0;
  margin: 0;
}
.top-section__photo {
  position: absolute;
  margin-left: 35%;
  height: 90%;
  z-index: -1;
}
.top-section__text-backdrop {
  height: 100%;
  background-color: rgba(250, 235, 215, 1);
  /* -webkit-clip-path: polygon(0 0, 50% 50%, 100% 83%, 0% 98%); */
  clip-path: polygon(0 0, 50% 0%, 40% 100%, 0% 100%, 80% 100%, 90% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.top-section__text {
  position: relative;
  top: 20%;
  left: 5%;
}

.top-section__text-big {
  font-size: 30px;
}
.top-section__text-small {
  font-size: 25px;
  margin-top: 30px;
}
.top-section__contact-btn {
  background-color: brown;
  border: 1px solid black;
  border-radius: 10px;
  color: antiquewhite;
  padding: 10px;
  margin-top: 30px;
  font-size: 30px;
}
.top-section__contact-btn:hover {
  cursor: pointer;
  background-color: rgb(119, 7, 7);
}

/*! header  */
header {
  position: relative;
  background-color: aquamarine;
  height: 10%;
}
.brand {
  position: absolute;
  top: 1vh;
  left: 2vw;
  padding: 10px;
}
.brand__name {
  font-size: 4vh;
}
nav {
  gap: 2vw;
}
.nav-links-container {
  padding: 35px;
}
.nav__socialLinks {
  position: absolute;
  top: 3vh;
  right: 2vw;
}
.svg-social-top {
  fill: rgb(3, 2, 2);
  width: 2.5vw;
  height: 2.5vw;
}

/*! footer */
footer{
  background-color: bisque;
}
.svg-social {
  fill: rgb(3, 2, 2);
  width: 3vw;
  height: 3vw;
}