<html lang="en">
  head
    title Nikolskaya
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //- <!-- Include Lottie Library -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js")
    link(href="css/styles.css" rel="stylesheet")
    //- <link href="img/favicon.ico" rel="icon">
    //- Axios CDN - the way to import axios without bundlers:
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=IBM+Plex+Serif&family=Inter:wght@300;400;500;900&family=Lobster&family=Philosopher:wght@400;700&display=swap" rel="stylesheet">

  body
    header.flex-container
      .flex-column.brand
        .brand__name Ирина Никольская
        .brand__sub Психолог-консультант
      nav.flex-container.nav-links-container
        .link.selfLink Обо мне
        .link.valuesLink Мои Ценности
        .link.topicsLink С чем я работаю
        .link.articlesLink Материалы
      .flex-container.nav__socialLinks
        a(href="mailto:irina.ambas@gmail.com" class="flex-container")
          <svg viewBox="-1 -1 30 30" class="svg-social-top"><path d="M12 .02c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.99 6.98l-6.99 5.666-6.991-5.666h13.981zm.01 10h-14v-8.505l7 5.673 7-5.672v8.504z"/></svg>
        a(href="https://t.me/Nikolskaya_psy")
          <svg viewBox="-1 -1 30 30" class="svg-social-top" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="telegram-1" d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z"/></svg>


    .flex-column.content
      .section.top-section
        img(src="img/5.jpg" alt="Main photo" class="top-section__photo")
        .top-section__text-backdrop
          .top-section__text
            .top-section__text-big Практикующий психолог
            .top-section__text-small Когнитивно-поведенческая терапия
            .top-section__text-small Для взрослых и подростков
            button.top-section__contact-btn Хочу на консультацию
            //- <!-- <div id="lottie-tree"> -->

      .section.flex-column.self-section
        .self-section__title Немного обо мне
        .flex-container.self-section__content
          img(src="/img/photo2.jpg" alt="my photo here" class="self-section__photo")
          .flex-column.self-section__text-container
            .self-section__small-text Меня зовут Ира Никольская, я - психолог, ценю людей и свободу. Живу в Испании и консультирую онлайн. В профессию пришла после “вау-эффекта” в личной терапии. Сказала себе: “Хочу уметь помогать другим так же, как помогли мне!”. 
            .self-section__small-text С тех пор я прошла несколько *обучений* и провела более () консультаций. Самое приятное для меня - видеть результаты работы и позитивные изменения в жизни клиентов. Еще мне искренно интересно, как устроен внутренний мир каждого из нас!
            .self-section__small-text Люблю свою работу и чувствую, что я на своем месте.
            //- Работаю в русле когнитивно-поведенческой терапии. Это означает, что на сессиях мы будем говорить о ваших мыслях и связанных с ними эмоциях и реакциях, находить более адаптивные способы мышления. При этом я буду давать вам поддержку и стремиться понять вашу картину мира. Я - про принятие и неосуждение.
            .self-section__small-text Для меня важно давать качественную помощь и быть в ресурсе для клиента. Поэтому я нахожусь в личной терапии и регулярно посещаю супервизии, постоянно учусь и повышаю свою квалификацию. С моим образованием можно познакомиться здесь.
            .self-section__small-text По первому образованию я международник. 5 лет опыта в этой сфере добавили понимания того, как выстроить контакт с любым человеком, а также подарили опыт адаптации к жизни за границей.
            .self-section__small-text В свободное время люблю путешествовать, гулять на природе и читать художку (и, не буду таить, психологическую литературу тоже :). 3 года прожила в Колумбии, говорю на испанском и английском языках.
            .self-section__small-text Если вам откликается, приходите. В индивидуальной работе со мной есть несколько свободных мест.

      .section.flex-column.values-section
        .values-section__title Мои Ценности
        .flex-container.values-section__content
          .flex-column.values-section__text-container
            div - Pleasant
            div - ursuit mrs.
            div - Up greatest 
            div - terminated 
          div(id="lottie-conversation")

      .section.flex-column.topics-section
        .topics-section__title С чем я работаю:
        .flex-container.topics-section__content
          .flex-column.topics-section__topic-container
            img(src="/img/problem.png" class="topics-section__topic-pic")
            .topics-section__topic-text Тревожность 
          .flex-column.topics-section__topic-container
            img(src="/img/problem.png" class="topics-section__topic-pic")
            .topics-section__topic-text Депрессия
          .flex-column.topics-section__topic-container
            img(src="/img/problem.png" class="topics-section__topic-pic")
            .topics-section__topic-text Расстройства личности 
          .flex-column.topics-section__topic-container
            img(src="/img/problem.png" class="topics-section__topic-pic")
            .topics-section__topic-text Растроства Пищевого Поведения 

      .section.flex-column.articles-section
        .flex-container.articles-section__btn-container
          a(href="/")
            .articles-section__btn-text Информация о КПТ
          a(href="/")
            .articles-section__btn-text Как проходит первая сессия
          a(href="/")
            .articles-section__btn-text О Психологии
          a(href="/")
            .articles-section__btn-text Почему Фрейд такой извращуга

      .section.flex-column.contact-section
        .contact-section__title Напишите мне:
        .flex-container.contact-section__container
          img(src="/img/photo2.jpg" alt="my photo here" class="contact-section__photo")
          form(id="contact-form" class="flex-column")
            input(type="text" id='contact-name' class="contact-section__input" placeholder="Ваше Имя" required)
            input(type="email" id='contact-email' class="contact-section__input" placeholder="Ваша Почта" required)
            textarea(type="text" id='contact-message' class="contact-section__textarea" placeholder="Сообщение" required)
            button.contact-section__send-btn Отправить
            .contact-section__loader
        .message-plane

    footer.flex-container
      .footer-text Ирина Никольская, психолог-консультант. Все права защищены. 2022 - 2024
    //-   <a href="https://t.me/Nikolskaya_psy">
    //-     <svg viewBox="-1 -1 30 30" class="svg-social" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path id="telegram-1" d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z"/></svg>
    //-   </a>
    //-   <a href="mailto:irina.ambas@gmail.com">
    //-     <svg viewBox="-1 -1 30 30" class="svg-social"><path d="M12 .02c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.99 6.98l-6.99 5.666-6.991-5.666h13.981zm.01 10h-14v-8.505l7 5.673 7-5.672v8.504z"/></svg>
    //-   </a>

script(type="module" src="JS/psychology.js")