html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}
body{
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
.svg-social-top:hover, .svg-social:hover {
  transform: scale(1.15);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*! Content */
.content {
  flex: 1;
}
.section {
  position: relative;
  /* height: 90vh; */
  width: 100vw;
}
/*! top section */
.top-section {
  height: 100vh;
}
.top-section__photo {
  position: absolute;
  margin-left: 45%;
  height: 100%;
  z-index: -1;
}
.top-section__text-backdrop {
  height: 100%;
  background-color: rgb(252, 247, 237);
  -webkit-clip-path: polygon(0 0, 50% 0%, 40% 100%, 0% 100%, 80% 100%, 90% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 55% 0%, 45% 100%, 0% 100%,83% 100%, 93% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.top-section__text {
  position: relative;
  width: 50%;
  top: 30%;
  left: 5%;
}
.top-section__text-big {
  font-size: 50px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
}
.top-section__text-small {
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
}
.top-section__contact-btn, .contact-section__send-btn, .contact-section__loader {
  background-color: rgba(101, 143, 53, 0.7);
  /* background: rgb(250,66,40); */
  /* background: linear-gradient(90deg, rgba(250,66,40,1) 0%, rgba(255,120,26,1) 92%); */
  border: 1px solid grey;
  border-radius: 10px;
  color: rgb(252, 251, 250);
  padding: 15px;
  font-size: 30px;
  font-family: 'Philosopher', sans-serif;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgb(197, 197, 197);
}
.top-section__contact-btn {
  margin-top: 30px;
}
.top-section__contact-btn:hover, .contact-section__send-btn:hover {
  cursor: pointer;
  background-color: rgba(101, 143, 53, 0.8);
  box-shadow: 0 0 10px rgb(197, 197, 197);
  /* transform: scale(1.01); */
}
.lottie-leaves {
  position: absolute;
  margin-left: 10%;
  height: 100%;
}
/*! self info section  */
.self-section, .values-section, .topics-section, .articles-section {
  background-color: rgb(241, 254, 225);
}
.self-section {
  /* height: 90vh; */
}
.self-section__content {
  gap: 2vw;
  margin-top: 7%;
  margin-bottom: 20px;
}
.self-section__photo {
  width: 40vw;
  border-radius: 20px;
}
.self-section__title, .values-section__title, .contact-section__title, .topics-section__title {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  font-size: 60px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
}
.self-section__title, .values-section__title, .contact-section__title {
  background-image: linear-gradient(90deg, rgb(43, 73, 25), #6bac2b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.self-section__title {
  margin-top: 10px;
}
.self-section__text-container {
  padding: 10px;
  width: 73%;
}
.self-section__small-text {
  width: 100%;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: justify;
  padding: 10px 35px 10px 5px;
}
.first-line {
  font-weight: 800;
  font-style: italic;
  padding-bottom: 20px;
  color: rgba(101, 143, 53, 0.99);
}
.self-section__form-btn {
  background-color: brown;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  color: aliceblue;
  padding: 30px;
  font-size: 20px;
}

/*! Values section  */
.values-section {
  /* height: 70vh; */
}
.values-section__title {
  width: 50%;
  height: 10%;
}
.values-column {
  width: 80%;
  /* justify-content: flex-start; */
}
.values-section__content {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 100px 0 40px 0;
  background-color: rgba(185, 116, 249, 0.3);
  /* border: 1px solid grey; */
  border-radius: 25px;
  padding: 40px 20px;
}
.values-section__wrapper {
  width: 92%;
  /* padding-left: 5%; */
  padding-bottom: 20px;
  justify-content: flex-start;
}
.value-point {
  width: 50px;
  height: 50px;
}
.values-section__value-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 15px;
}
.values-section__value-container > * {
  font-size: 22px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  /* text-align: justify; */
}
.values-section__value-title {
  width: 100%;
  flex: 1;
  padding-bottom: 5px;
  font-weight: 800;
}
.values-section__value-text {
  width: 100%;
}
#lottie-conversation {
  padding-right: 20px;
}

/*! Topics section */
.topics-section {
  background-color: transparent;
}
.topics-section__backdrop-img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -2;
  background-image: url(/img/backTopics.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* this makes image stick to back and create parallax: */
  background-attachment: fixed;
  filter:brightness(60%);
  filter:contrast(60%);
}
.topics-section__title {
  color: white;
  height: 12%;
}
.topics-section__title:hover {
  cursor: pointer;
}
.topics-section__wrapper {
  width: 100%;
  margin-top: 30px;
}
.topics-section__content {
  margin-bottom: 50px;
  width: 100%;
  align-items: baseline;
  flex-wrap: wrap;
  transform: translateX(0);
  transition: all 1s ease-in-out;
  opacity: 1;
}
.adultTopics {
  position: absolute;
  left: 0;
}
.hidden {
  /* display: none; */
  opacity: 0;
  transform: translateX(-1500px);
}
.adultTopics.hidden {
  transform: translateX(1500px);
}
.topics-section__topic-container {
  width: 30%;
  height: 50%;
  /* padding: 5px; */
}
.topics-section__topic-pic {
  width: 30%;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
}
.topics-section__topic-text {
  padding: 10px;
  font-size: 25px;
  color: bisque;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  text-align: center;
}
.title-switch {
  color: rgb(195, 195, 195);
  font-size: 32px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  border-radius: 15px;
  padding: 0px 5px 10px 5px;
  /* margin-top: 10px; */
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.9) 30%, #000 50%, rgba(0,0,0,.9) 70%);
  mask-size: 100%;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.9) 30%, #000 50%, rgba(0,0,0,.9) 70%);
  -webkit-mask-size: 200%;
}
.active-switch {
  color: bisque;
  animation: shine 2s linear infinite;
}
@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}
/* ---------------- switch -------------------- */
.checkbox_mark{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
.checkbox_item .checkbox_wrap{
	position: relative;
	display: block;
	cursor: pointer;
	/* margin: 110px auto 50px; */
}
.checkbox_item {
  margin-top: 90px;
}
.checkbox_inp{
	position: absolute;
	opacity: 0;
}
.checkbox_item .checkbox_wrap .checkbox_mark{
	display: inline-block;
	position: relative;
	border-radius: 25px;
}
.checkbox_mark:before, .checkbox_item .checkbox_wrap .checkbox_mark:after{
	content: "";
	position: absolute;
	transition: all 0.5s ease;
}
.checkbox_item.citem_2 .checkbox_wrap .checkbox_mark{
	border: 5px solid rgba(255, 228, 196, 0.8);
	width: 90px;
	height: 40px;
	padding: 2px;
}
.checkbox_item.citem_2 .checkbox_wrap .checkbox_mark:before{
	top: 2px;
  left: 2px;
  width: 34px;
  height: 26px;
  background: rgba(255, 228, 196, 0.8);
  border-radius: 25px;
}
.checkbox_item.citem_2 .checkbox_wrap .checkbox_inp:checked ~ .checkbox_mark{
	border-color: rgba(255, 228, 196, 0.8);
}
.checkbox_item.citem_2 .checkbox_wrap .checkbox_inp:checked ~ .checkbox_mark:before{
	left: 44px;
	background: rgba(255, 228, 196, 0.8);
}

/*! Articles section */
/* .articles-section {
  padding: 50px;
} */
.articles-section__btn-container {
  flex: 1;
  flex-wrap: wrap;
}
.articles-section__btn-container > * {
  width: 40%;
  background-color: bisque;
  font-size: 30px;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}
.articles-section__btn-text {
  text-align: center;
}
.articles-section__price-wrapper {
  margin: 20px;
  padding: 20px;
  width: 40%;
}
.articles-section__price-block {
  width: 85%;
  background: rgb(197,255,63);
  background: linear-gradient(90deg, rgba(43, 73, 25, 0.5), rgba(107, 171, 43, 0.5));
  border-radius: 10px;
  padding: 50px 0;
  margin-bottom: 20px;
}
.articles-section__price-block > * {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
}
.articles-section__price-title {
  font-size: 35px;
  padding-bottom: 30px;
  font-weight: 700;
}
.articles-section__price-text {
  font-size: 25px;
}

/*! Contact Section */
.contact-section {
  background-color: rgb(252, 247, 237);
  padding-bottom: 70px;
}
.contact-section__container {
  width: 100%;
  padding-top: 7%;
  gap: 20px;
}
.contact-section__container > * {
  padding: 20px;
}
/* .contact-section__title {
  padding: 30px;
} */
#contact-form {
  gap: 2vh;
  width: 40%;
}
.contact-section__input, .contact-section__textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid rgb(218, 218, 218);
  border-radius: 10px;
  font-size: 22px;
  font-family: 'Philosopher', sans-serif;
  background-color: rgba(240, 248, 255, 0.8);
  text-align: center;
  outline: none;
  transition: all 0.5s;
}
.contact-section__textarea {
  height: 15vh;
}
.contact-section__input:focus, .contact-section__textarea:focus {
  border: 2px solid green;
}
.contact-section__send-btn {
  margin: 0;
}
.contact-section__photo {
  width: 40%;
  border-radius: 50px;
}
.message-plane {
  position: absolute;
  width: 30%;
}
.contact-section__send-btn, .contact-section__loader {
  width: 40%;
}
.contact-section__loader {
  display: none;
  position: inherit;
  padding: 0;
  /* width: 40px; */
}
.contact-section__loader > * {
  height: 64px !important;
}

/*! header  */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 10vh;
  transition: all 1s ease-in-out;
}
.scrolled-header {
  /* border-bottom: 1px solid rgb(196, 195, 195); */
  background-color: rgba(216, 252, 174, 0.5);
  backdrop-filter: blur(10px);
}
.brand {
  position: absolute;
  top: 1vh;
  left: 2vw;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}
.brand:hover {
  cursor: pointer;
  transform: scale(1.01);
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 16px rgba(101, 143, 53, 0.7), 0 0 40px whitesmoke;
}
.brand__name {
  font-size: 4vh;
  /* font-family: 'Philosopher', sans-serif; */
}
.brand__sub {
  font-size: 17px;
  font-family: 'Philosopher', sans-serif;
}
nav {
  gap: 2vw;
}
.nav-links-container {
  padding: 35px;
  gap: 28px;
}
.link {
  font-size: 20px;
  color: rgb(132, 132, 132);
  font-family: 'Philosopher', sans-serif;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  cursor: pointer;
  color: black;
  transform: scale(1.02);
}
.nav__socialLinks {
  position: absolute;
  top: 25%;
  right: 3%;
  gap: 15px;
}
.svg-social-top {
  fill: rgb(3, 2, 2);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

/*! footer */
footer{
  background-color: bisque;
}
.svg-social {
  fill: rgb(3, 2, 2);
  width: 3vw;
  height: 3vw;
  transition: all 0.3s ease-in-out;
}
.footer-text {
  padding: 20px;
  color: grey;
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
}
