html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}
body{
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
.svg-social-top:hover, .svg-social:hover {
  transform: scale(1.15);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*! Content */
.content {
  flex: 1;
}
.section {
  position: relative;
  height: 90vh;
  width: 100vw;
}
/*! top section */
.top-section {
  height: 100vh;
}
.top-section__photo {
  position: absolute;
  margin-left: 45%;
  height: 100%;
  z-index: -1;
}
.top-section__text-backdrop {
  height: 100%;
  /* background-color: rgba(250, 235, 215, 1); */
  /* background: rgb(246,201,25);
  background: linear-gradient(135deg, rgba(246,201,25,1) 43%, rgba(251,75,4,1) 100%); */
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(192,192,192,1) 92%); */
  background-color: rgb(252, 247, 237);
  -webkit-clip-path: polygon(0 0, 50% 0%, 40% 100%, 0% 100%, 80% 100%, 90% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 55% 0%, 45% 100%, 0% 100%,83% 100%, 93% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.top-section__text {
  position: relative;
  width: 50%;
  top: 30%;
  left: 5%;
}
.top-section__text-big {
  font-size: 30px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
}
.top-section__text-small {
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 30px;
}
.top-section__contact-btn, .contact-section__send-btn, .contact-section__loader {
  background-color: rgba(101, 143, 53, 0.7);
  /* background: rgb(250,66,40); */
  /* background: linear-gradient(90deg, rgba(250,66,40,1) 0%, rgba(255,120,26,1) 92%); */
  border: 1px solid grey;
  border-radius: 10px;
  color: rgb(252, 251, 250);
  padding: 15px;
  font-size: 30px;
  font-family: 'Philosopher', sans-serif;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgb(197, 197, 197);
}
.contact-section__send-btn, .contact-section__loader {
  width: 40%;
}
.top-section__contact-btn:hover, .contact-section__send-btn:hover {
  cursor: pointer;
  background-color: rgba(101, 143, 53, 0.8);
  box-shadow: 0 0 10px rgb(197, 197, 197);
  /* transform: scale(1.01); */
}

/*! self info section  */
.self-section, .values-section, .topics-section, .articles-section {
  /* position: relative; */
  /* background: rgb(246,201,25); */
  /* background: linear-gradient(45deg, rgba(246,201,25,1) 43%, rgba(251,75,4,1) 100%); */
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(208,208,208,1) 49%); */
  background-color: rgb(252, 247, 237);
}
.self-section {
  height: 90vh;
}
.self-section__content {
  gap: 2vw;
  margin: 10% 20px 20px 20px;
}
.self-section__photo {
  width: 40vw;
  border-radius: 20px;
}
.self-section__title, .values-section__title, .topics-section__title, .contact-section__title {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  font-size: 60px;
  /* font-family: 'Amatic SC', sans-serif; */
  /* font-family: 'IBM Plex Serif', serif; */
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Lobster', sans-serif; */
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  background-color: rgb(239, 239, 239);
}
.self-section__small-text {
  font-size: 20px;
  padding: 50px;
}
.self-section__form-btn {
  background-color: brown;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  color: aliceblue;
  padding: 30px;
  font-size: 20px;
}

/*! Values section  */
.values-section {
  height: 70vh;
}
.values-section__title {
  width: 50%;
  height: 10%;
  border-radius: 30px;
  background-color: transparent;
}
.values-section__content {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 30px;
}
.values-section__text-container {
  width: 70%;
}
.values-section__text-container > * {
  font-size: 30px;
  padding: 30px;
}

/*! Topics section */
.topics-section__title {
  background-color: beige;
}
.topics-section__content {
  width: 100%;
  gap: 1.5vw;
  margin-top: 20%;
  align-items: baseline;
}
.topics-section__topic-container {
  width: 22%;
  height: 50%;
  /* padding: 5px; */
}
.topics-section__topic-pic {
  width: 90%;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
}
.topics-section__topic-text {
  padding: 10px;
  font-size: 35px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  text-align: center;
}

/*! Articles section */
.articles-section__btn-container > *{
  background-color: bisque;
  font-size: 30px;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}
.articles-section__btn-text {
  text-align: center;
}

/*! Contact Section */
.contact-section {
  background-color: rgba(97, 192, 97, 0.183);
}
.contact-section__container {
  gap: 5vw;
  padding-top: 12vh;
}
#contact-form {
  gap: 2vh;
}
.contact-section__input, .contact-section__textarea {
  width: 40vw;
  padding: 15px;
  border: 2px solid rgb(218, 218, 218);
  border-radius: 10px;
  font-size: 22px;
  font-family: 'Philosopher', sans-serif;
  background-color: rgba(240, 248, 255, 0.8);
  text-align: center;
  outline: none;
  transition: all 0.5s;
}
.contact-section__textarea {
  height: 15vh;
}
.contact-section__input:focus, .contact-section__textarea:focus {
  border: 2px solid green;
}
.contact-section__send-btn {
  margin: 0;
}
.contact-section__photo {
  width: 35vw;
  border-radius: 20px;
}
.message-plane {
  position: absolute;
  width: 30%;
}
.contact-section__loader {
  display: none;
  position: inherit;
  padding: 0;
  /* width: 40px; */
}
.contact-section__loader > * {
  height: 64px !important;
}

/*! header  */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 10vh;
  transition: all 1s ease-in-out;
}
.scrolled-header {
  /* border-bottom: 1px solid rgb(196, 195, 195); */
  background-color: rgba(101, 143, 53, 0.2);
  backdrop-filter: blur(10px);
}
.brand {
  position: absolute;
  top: 1vh;
  left: 2vw;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}
.brand:hover {
  cursor: pointer;
  transform: scale(1.01);
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 16px rgba(101, 143, 53, 0.7), 0 0 40px whitesmoke;
}
.brand__name {
  font-size: 4vh;
  /* font-family: 'Philosopher', sans-serif; */
}
.brand__sub {
  font-size: 17px;
  font-family: 'Philosopher', sans-serif;
}
nav {
  gap: 2vw;
}
.nav-links-container {
  padding: 35px;
  gap: 28px;
}
.link {
  font-size: 20px;
  font-family: 'Philosopher', sans-serif;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.nav__socialLinks {
  position: absolute;
  top: 25%;
  right: 3%;
  gap: 15px;
}
.svg-social-top {
  fill: rgb(3, 2, 2);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

/*! footer */
footer{
  background-color: bisque;
}
.svg-social {
  fill: rgb(3, 2, 2);
  width: 3vw;
  height: 3vw;
  transition: all 0.3s ease-in-out;
}
.footer-text {
  padding: 20px;
  color: grey;
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
}
