extends baseEmail

block content
  .flex-container.backdrop 
    .flex-column.letter__content 
      .letter__title Привет #{firstName}!
        .letter__text-line Спасибо за ваше сообщение. Я скоро отвечу.
        .letter__text-line Сообщение:
        .letter__message #{message}